div {
    justify-self: center;
}
.the-nav-bar {
    grid-column-start: 1;
    grid-column-end: 4;
}
.content {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    gap: 10px;
    min-width: fit-content;
}
.masthead {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: 'Bree Serif', serif;
}
.headshot {
    grid-column-start: 1;
    grid-column-end: 2;
}
.video {
    grid-column-start: 2;
    grid-column-end: 4;
}
.full-width-text {
    padding-left: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
}
.btn-primary {
    background-color: #BD4F6C;
    border-color: #BD4F6C;
}
.btn-primary:hover {
    background-color: #762D40;
    border-color: #762D40;
}
.card {
    background-color: whitesmoke;
}
#something {
    padding: 20px;
    background-color: black;
}